# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
ignore
src/map_impact/map
src/map_impact/shapefiles
data
src/uganda_seasonality/uganda-jan-21-feb-22.csv
src/uganda_seasonality/uganda-march-22-dec-22.csv
.Rproj.user
